<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test name="Test 1">
    <classes>
      <class name="testngAnnotations.Module1"/>
      <class name="testngAnnotations.Module3"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test 2">
    <classes>
      <class name="testngAnnotations.Module2"/>  
      <class name="testngAnnotations.Module4"/>
    </classes>
  </test>
</suite> <!-- Suite -->
